{{input type="text" value=name placeholder="name"}}<br>
{{input type="email" value=email placeholder="email"}}<br>
{{input type="password" value=password placeholder="password"}}<br>
<button {{action "signUp"}}>Sign Up </button>
